<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets\css\style.css">
    <title>Tournaments - WalTzProduction</title>
</head>
<body class="page-enter">
    <div class="glass-bg"></div>
     <!-- Navigation -->
  <header class="navbar">
    <h1 class="logo">WalTzProduction</h1>
    <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    <nav>
      <a href="index.html">Home</a>
      <a href="event.html">Events</a>
      <a href="forum.html">Forum</a>
      <a href="partner.html">Partner</a>
      <a href="about.html">About</a>
    </nav>
  </header>
  
    <section class="tournaments-section">
        <h1 class="tournaments-title">Upcoming Tournaments</h1>
        
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Prize</th>
              <th>Rank</th>
              <th>Join</th>
            </tr>
          </thead>
          <tbody id="tournament-table-body">
            <!-- Dynamic rows here -->
             
</body>
<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.86/build/spline-viewer.js"></script>
<spline-viewer class="robot-3D" url="https://prod.spline.design/1GnsvYMdFSabkWOn/scene.splinecode"></spline-viewer>
<script src="assets\js\tournaments.js"></script>
</html>